body {
    background: radial-gradient(
        circle, 
        rgba(217,225,226,1) 12%, 
        rgba(173,160,144,1) 72%, 
        rgba(125,115,90,1) 96%);
}

nav {
    background: rgb(217,225,226);
    background: radial-gradient(
    circle, 
    rgba(217,225,226,1) 12%, 
    rgba(173,160,144,1) 72%, 
    rgba(125,115,90,1) 96%);
}

.custom-logo {
    height: 60px
}

.table-div {
    margin-top: 90px;
    margin-left: 30%;
    width: 600px;
}

.table-div > h3 {
    text-align: center;
}
